version: "3.5"

services:
  logstash:
    image: logstash:7.10.1
    container_name: ugc_logstash
    command: logstash -f /config/logstash.conf
    environment:
      ES_HOST: "elasticsearch:9200"
    volumes:
      - ./config/logstash.conf:/config/logstash.conf:ro
    ports:
      - "5044:5044/udp"
    depends_on:
      - elasticsearch
    networks:
      - cinema

  elasticsearch:
    image: ghcr.io/yp-middle-python-24/elasticsearch:7.10.2
    container_name: ugc_elasticsearch
    environment:
      discovery.type: single-node
    expose:
      - 9200
    networks:
      - cinema

  kibana:
    image: ghcr.io/yp-middle-python-24/kibana:7.10.2
    container_name: ugc_kibana
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - cinema

  auth_postgres:
    container_name: auth_postgres
    image: "postgres:13"
    env_file:
      - envs/auth/.env
    volumes:
      - $HOME/postgresql/auth_data:/var/lib/postgresql/auth_api_data
    restart: always
    ports:
      - "5432:5432"

  auth_redis:
    container_name: auth_redis
    image: redis:7
    env_file:
      - envs/auth/.env
    volumes:
      - $HOME/redis/data:/var/lib/redis/data
    ports:
      - "6378:6378"

  auth:
    container_name: auth
    image: ghcr.io/praktikum-projects-team/auth_api:0.1.3
    env_file:
      - envs/auth/.env
    depends_on:
      - auth_redis
      - auth_postgres
    ports:
      - "8000:8000"

  mongodb:
    container_name: mongodb
    image: mongo:4.4.6
    ports:
      - 27017:27017
    volumes:
      - mo_data:/mo_data

  feedback:
    container_name: feedback
    build: .
    env_file:
      - ./.env
    ports:
      - "8001:8001"
    depends_on:
      - mongodb

#  nginx:
#    container_name: nginx
#    image: nginx:latest
#    volumes:
#      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
#      - ./nginx/configs:/etc/nginx/conf.d:ro
#    depends_on:
#      - feedback
#    ports:
#      - "80:80"

volumes:
  mo_data:

networks:
  cinema:
    name: cinema